.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: nav cont;
}

#nav-bar {
  grid-area: nav;
}

.sticky {
  position: fixed;
  top: 0;
  width: 10%;
}

#main-doc {
  grid-area: cont;
  margin-left: 180px;
}

@media (max-width: 768px) {
  .sticky {
    width: 100%;
    background: gray;
  }
  #main-doc {
    margin-left: 0;
    margin-top: 70px;
  }
  h1 {
    font-size: 1.3em;
  }
}
